@font-face 
  font-family: 'PT Sans'
  src url('@/assets/fonts/PT_Sans/PTSans-Bold.ttf') format("ttf"),
      url('@/assets/fonts/PT_Sans/PTSans-BoldItalic.ttf') format("ttf"),
      url('@/assets/fonts/PT_Sans/PTSans-Italic.ttf') format("ttf"),
      url('@/assets/fonts/PT_Sans/PTSans-Regular.ttf') format("ttf")
