@require 'reset.styl'
@require 'varColors.styl'
@require 'varSizes.styl'

.container
  width 100%
  margin-right auto
  margin-left auto

  @media (min-width 576px)
    max-width 100%

  @media (min-width 1024px)
    max-width 960px

  @media (min-width 1216px)
    max-width: 1152px

  @media (min-width: 1408px)
    max-width 1344px

.heading
  margin-bottom: 20px;
  text-align center
.form
  width "max(30vw, 290px)" % null
  .form__input
    font-size 24px
  .form__button
    width 100%
    margin: 10px 0
    padding: 12px 0px;
    font-size: 20px;
  .form__footer
    text-align center