@require 'reset.styl'
@require 'SignupView.styl'

.container
  width: 100%
  margin-right: auto
  margin-left: auto

  @media (min-width 576px)
    max-width 100%

  @media (min-width 1024px)
    max-width 960px

  @media (min-width 1216px)
    max-width: 1152px

  @media (min-width: 1408px)
    max-width 1344px