h3
  margin: 10px 0px
.form
  font-size 50px
  min-width: 30vw
  .input-wrapper
    display flex
    flex-wrap nowrap
    width 100%
  .input
    font-size 24px
    flex-basis 50%
    margin 10px
  .textarea
    justify-content: center;
  .select
    width: 47%;  
  .button
    margin-top 10px
    padding 10px 30px
    font-size 20px
  .error-message
    font-size 12px
    color red